<?xml version="1.0" encoding="UTF-8"?>
<!-- The Samsung TV app. tv.yml packages the TV build of the app (build/) with
     this file; see docs/samsung-tv.md. -->
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="https://github.com/Cummmies/custom-stremio" version="0.1.0" viewmodes="maximized">
    <tizen:application id="CStremioTV.CustomStremio" package="CStremioTV" required_version="3.0"/>
    <name>Custom Stremio</name>
    <content src="index.html"/>
    <icon src="icon.png"/>
    <access origin="*" subdomains="true"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/network.public"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <!-- Over-the-air updates are kept in the app's storage (src/lib/tv/webUpdate.ts). -->
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:profile name="tv-samsung"/>
    <!-- The newer browser engine (on a 2020 TV about Chromium 94 instead of 69,
         which lacks ?., flex gap and the WebAssembly the core needs). Not
         documented by Samsung; TizenBrew sets it too. AVPlay still works. -->
    <tizen:metadata key="http://samsung.com/tv/metadata/use.uwe" value="true"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="false"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/use.preview" value="false"/>
    <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
